$outline-color: #869abd;

.board {
  outline: 2px solid $outline-color;

  .row {
    height: 25px;

    .cell {
      width: 25px;
      height: 25px;
      outline: 1px solid $outline-color;
      display: inline-block;
    }

    .snake-cell {
      background-color: green;
    }

    .apple-cell {
      background-color: red;
    }

    .mine-cell {
      background-color: violet;
    }
  }
}
