$outline-color: #869abd;

.board {
  outline: 2px solid $outline-color;

  .row {
    height: 25px;

    .cell {
      width: 25px;
      height: 25px;
      outline: 1px solid $outline-color;
      display: inline-block;
      box-sizing: border-box;
      overflow: hidden;
      padding: 2px;
    }
  }
}
