$outline-color: #869abd;

.board-container {
  align-items: center;
  gap: 20px;

  .board {
    outline: 2px solid $outline-color;
    display: flex;
    flex-direction: column;
    width: 500px;

    .row {
      height: 25px;
      display: flex;

      .cell {
        width: 25px;
        height: 25px;
        outline: 1px solid $outline-color;
        box-sizing: border-box;
        overflow: hidden;
        padding: 2px;
      }
    }
  }
}
