@import '../../index.scss';

.app-bar {
  padding: 10px;
  background-color: $app-background-color;

  .logo {
    cursor: pointer;
    color: white;
  }

  .github {
    cursor: pointer;
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
