@import './index.scss';

.app {
  text-align: center;
  background-color: $app-background-color;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }
}
