.app {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .app-bar {
    padding: 10px;
    background-color: #282c34;

    .logo {
      cursor: pointer;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }
}
